<div id="card">
    <div id="header">
        <div class="company">{{company}}</div>
        <div class="activity">{{activity}}</div>
    </div>
    <div id="description">
        <div class="left">
            <h2 class="percent">{{note}}%</h2>
            <p class="note">note de l'entreprise</p>
        </div>
        <div class="right">
            <h2 class="rank">{{risk}}</h2>
            <p class="risk">risque</p>
        </div>        
    </div>
    <div id="detail">
        <button class="info" type="button">More infos</button>

    </div>

</div>